.icon-arrow-left-white {
  background-image: url(../../img/sprite.png);
  background-position: 0px -30px;
  width: 49px;
  height: 155px; }

.icon-arrow-left-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -147px -30px;
  width: 49px;
  height: 155px; }

.icon-arrow-right-white {
  background-image: url(../../img/sprite.png);
  background-position: -49px -30px;
  width: 49px;
  height: 155px; }

.icon-arrow-right-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -98px -30px;
  width: 49px;
  height: 155px; }

.icon-close {
  background-image: url(../../img/sprite.png);
  background-position: -234px -30px;
  width: 31px;
  height: 31px; }

.icon-cutlery {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 321px;
  height: 30px; }

.icon-insta {
  background-image: url(../../img/sprite.png);
  background-position: -265px -30px;
  width: 26px;
  height: 26px; }

.icon-mouse {
  background-image: url(../../img/sprite.png);
  background-position: -196px -74px;
  width: 22px;
  height: 33px; }

.icon-triangle-transparent {
  background-image: url(../../img/sprite.png);
  background-position: -196px -30px;
  width: 38px;
  height: 44px; }

.icon-triangle-white {
  background-image: url(../../img/sprite.png);
  background-position: -291px -30px;
  width: 14px;
  height: 17px; }

.icon-triangles {
  background-image: url(../../img/sprite.png);
  background-position: -305px -30px;
  width: 14px;
  height: 14px; }
