/* Including styles files */
@import sprite.sass
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700')
@import '../../libs/fancybox/dist/jquery.fancybox.css'
@import '../../libs/slick-carousel/slick/slick.css'
@import '../../libs/slick-carousel/slick/slick-theme.css'
@import '../../libs/jparallax/css/jquery.parallax.css'


/* Global settings */
$font-size: 16px
$font-family-1: 'Roboto', sans-serif
$font-family-2: 'Roboto Slab', sans-serif
$color-1: #000



*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white
	font-weight: 300
	background: url('../../img/bg/body.png') no-repeat center top

header, nav, main, section, article, aside, footer, li, .block
	display: block

.inline-block
	display: inline-block

.hidden
	display: none



h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		display: inline-block
		font-size: $font-size
		list-style-type: none


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block


.icon
	display: inline-block
	vertical-align: middle

.input, .button, .slick-slide, .textarea
	outline: none

/* Grid */
.container
	position: relative
	width: (1005px + 30px)
	padding-left: 15px
	padding-right: 15px

.row, .clearfix
	&:before, &:after
		display: table
		content: ''
		box-sizing: border-box
	&:after
		clear: both

.row_line
	text-align: center
	font-size: 0

.col
	min-height: 1px
	float: left
	display: block
	&_line
		display: inline-block
		vertical-align: top
		font-size: $font-size
		min-height: 1px
	&-1
		width: (100% / 1)
	&-2
		width: (100% / 2)
	&-3
		width: (100% / 3)
	&-4
		width: (100% / 4)
	&-5
		width: (100% / 5)
 

	



/* Form elements */
.input
	display: block
	font-size: 18px
	font-family: $font-family-1
	background: white
	width: 100%
	border: 2px solid #e6e6e6
	border-radius: 50px
	padding: 12.5px 25px
	transition: all .3s !important
	&::placeholder
		color: #9a9a9a
	&:focus
		background-color: #e6e6e6
.textarea
	font-size: $font-size
	font-family: $font-family-1
	display: block
	background: white
	resize: none
	border: 1px solid #f0f0f0
	&::placeholder
		color: #878686


.button
	position: relative
	display: inline-block
	font-size: 14px
	font-family: $font-family-1
	cursor: pointer
	margin-left: auto
	margin-right: auto
	text-align: center
	transition: .3s
	text-transform: uppercase
	font-weight: 700
	border: 2px solid #e2b768
	border-radius: 50px
	&_small
		padding: 12px 28px
	&_big
		padding: 20px 36px
	&:hover
		background: #e2b768
.input, .textarea
	transition: border-color .3s




/* Blocks align */ 
.left
	float: left

.right
	float: right

.center, .container
	margin-left: auto
	margin-right: auto



.title
	font-size: 40px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	font-family: $font-family-2
	&:after
		content: ''
		width: 55px
		height: 3px
		background-color: #e2b768
		display: block
		margin-left: auto
		margin-right: auto
		margin-top: 5px
		margin-bottom: 13px
	&_none
		&:after
			display: none




.fancybox-is-open .fancybox-bg
	opacity: 1
	background: #000


.header
	position: relative
	color: white
	padding-bottom: 75px
	background: url('../../img/bg/header.png') center
	background-size: cover
	overflow: hidden
	a
		color: white
	&__content
		z-index: 5
		position: relative
		text-align: center
	&__logo
		padding-top: 54px
		margin-bottom: 30px
	&__title
		font-size: 44px
		line-height: 60px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 20px
		font-family: $font-family-2
		span
			display: block
			font-size: 60px
	&__desc
		font-size: 24px
		margin-bottom: 50px
	&__button
		margin-bottom: 55px
	&__icon
		i
			display: block
			margin-left: auto
			margin-right: auto
			+ i
				margin-top: 3px
				animation: icon 2s infinite linear
	&__images
		// overflow: hidden
		// width: npx
		// height: npx
		// img
		.parallax-layer
			position: absolute
			z-index: 4
			&:nth-of-type(1)
				top: 38px
				left: 0
			&:nth-of-type(2)
				top: (110px + 200px)
				left: (425px + 100px)
			&:nth-of-type(3)
				top: (485px + 150px)
				left: (257px + 100px)
			&:nth-of-type(4)
				top: (209px + 200px)
				left: (331px + 100px)
			&:nth-of-type(5)
				z-index: 2
				top: (196px + 200px)
				left: calc(100% - 206px - 100px)
			&:nth-of-type(6)
				z-index: 2
				top: (210px + 200px)
				left: calc(100% - 337px - 100px)
			&:nth-of-type(7)
				z-index: 1
				top: 0
				right: 0
		.parallax-viewport
			position: relative
			overflow: hidden
.panel
	position: relative
	height: 88px
	border-bottom: 1px solid rgba(255,255,255,.2)
	&__contacts
		position: absolute
		left: 50px
		top: 18px
		margin-left: -220px
		z-index: 5
	&__phone
		font-size: 24px
		font-family: $font-family-2
	&__time
		font-size: 14px
		color: rgba(255,255,255,.6)
	&__nav
		z-index: 5
		position: relative
		text-align: center
		padding-top: 33px
		li
			margin-right: 25px
			&:last-of-type
				margin-right: 0
		a
			display: block
			position: relative
			&:before
				opacity: 0
				content: ''
				position: absolute
				top: -33px
				left: 0
				width: 100%
				height: 4px
				transition: .3s
				background-color: #e2b768
			&:hover
				&:before
					opacity: 1
	&__button
		z-index: 5
		position: absolute
		right: -200px
		top: 20px
	


.logo
	&__text
		text-transform: uppercase
		margin-bottom: 26px
	&__image
		img
			margin-left: auto
			margin-right: auto

.about
	padding-top: 75px
	padding-bottom: 70px
	background: url('../../img/bg/about.jpg') no-repeat center 420px
	background-size: cover


.book
	width: 1048px
	height: 581px
	padding-top: 70px
	margin-left: -21px
	margin-bottom: 15px
	background: url('../../img/bg/book.png')
	&__image
		margin-left: 65px
	&__content
		float: right
		width: 415px
		margin-right: 70px
	&__title
		font-size: 36px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 18px
		font-family: $font-family-2
		&:after
			content: ''
			display: block
			width: 56px
			height: 3px
			background-color: #e2b768
			margin-top: 10px
	&__text
		p
			margin-bottom: 25px
			&:last-of-type
				margin-bottom: 0
	&__signature
		position: relative
		top: -22px
		img
			margin-left: auto


.digits
	&__item
		height: 150px
		width: 245px
		border-right: 1px solid #e2b768
		&:last-of-type
			border-right: none
	&__num
		padding-top: 15px
		font-size: 60px
		font-weight: 700
		font-family: $font-family-2



.videos
	color: white
	background: url('../../img/bg/videos.jpg') no-repeat center
	background-size: cover
	padding-top: 160px
	padding-bottom: 180px
	a
		color: white
	&__list
		margin-left: -306px
	&__item
		display: none
		position: relative
		margin-bottom: 30px
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
			display: block
		&:last-of-type
			margin-bottom: 0
		&:hover
			.videos
				&__image
					&:after
						width: calc(100% - 10px)
						height: calc(100% - 10px)
						border: 5px solid #e2b768
				&__subtitle
					transform: translateY(-40px)
				&__button
					opacity: 1
					transform: translateY(-20px)
	&__image
		position: relative
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: rgba(0,0,0,.5)
		&:after
			position: absolute
			content: ''
			width: calc(100% - 6px)
			height: calc(100% - 6px)
			top: 0
			left: 0
			transition: border-color .3s
			border: 3px solid rgba(255,255,255,.6)
	&__wrap
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		text-align: center
	&__subtitle
		padding-top: 68px
		text-transform: uppercase
		font-weight: 700
		font-size: 24px
		font-family: $font-family-2
		padding-left: 30px
		padding-right: 30px
		transition: .3s
	&__button
		opacity: 0
		font-size: 14px
		i
			position: relative
			top: -2px
			margin-right: 13px

	&__title
		margin-left: 160px
		margin-right: 55px
		font-size: 60px
		line-height: 76px
		font-weight: 700
		font-family: $font-family-2
		padding-top: 200px
		text-transform: uppercase

	&__play
		width: 170px
		margin-top: 290px
		position: relative
		&:hover
			&:before, &:after
				transform: scale(.95)
		a
			z-index: 2
			position: relative
			display: block
		span
			display: inline-block
			vertical-align: middle
			margin-left: 40px
			font-size: 18px
		&:before
			position: absolute
			content: ''
			width: 188px
			height: 378px
			top: -160px
			right: -30px
			transition: .3s
			background: url('../../img/bg/round-1.png') center
		&:after
			position: absolute
			content: ''
			width: 529px
			height: 568px
			top: -255px
			right: -135px
			transition: .3s
			background: url('../../img/bg/round-2.png') center
		




.steps
	padding-top: 100px
	padding-bottom: 85px
	background: url('../../img/bg/lines.png') no-repeat center 140px
	&__list
		min-height: 227px
		
	&__title
		text-align: left
		line-height: 50px
		margin-top: -5px
		padding-bottom: 2px
	&__num
		width: 65px
		height: 65px
		line-height: 65px
		background-color: #e2b768
		border-radius: 50%
		text-align: center
		font-size: 30px
		font-weight: 700
		color: white
		font-family: $font-family-2
		position: relative
		margin-left: 8px
		margin-bottom: 23px
		&:before
			top: -8px
			left: -8px
			position: absolute
			display: block
			content: ''
			width: 79px
			height: 79px
			border-radius: 50%
			border: 1px solid #e2b768
			background-color: transparent
	&__top
		margin-bottom: 60px
		.steps
			&__num
				margin-top: 10px
				
	&__text
		font-size: 15px
		
.buffets
	color: white
	background: url('../../img/bg/buffets.jpg') no-repeat center
	background-size: cover
	a
		color: white




.portfolio
	padding-top: 70px
	padding-bottom: 80px
	text-align: center
	&__desc
		margin-bottom: 35px
	&__list
		margin-left: -15px
		margin-right: -15px
	&__item
		margin-left: 15px
		margin-right: 15px
		position: relative
		width: 315px
		margin-bottom: 30px
		overflow: hidden
		box-shadow: 0 15px 35px rgba(1, 1, 1, 0.5)
		&:before
			opacity: 0
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			transition: .3s
			background: rgba(0,0,0,.6)
		&:hover

			&:before
				opacity: 1
				transition-delay: .2s
			.portfolio
				
				&__subtitle
					opacity: 1
					&-hidden
						transition-delay: .1s
						transform: translateY(100px)
				&__subtitle, &__button
					opacity: 1
					transition: 0
					transition-delay: 0
	&__image
		img
			width: 100%
		&s
			display: none
	&__subtitle
		opacity: 0
		font-size: 20px
		font-weight: 700
		text-transform: uppercase
		font-family: $font-family-2
		padding-left: 45px
		padding-right: 45px
		position: absolute
		top: 67px
		left: 0
		transition: .3s
		transition-delay: .1s
		color: white
		width: 100%
		&-hidden
			position: absolute
			width: 100%
			height: 100px
			background: white
			bottom: 0
			left: 0
			color: $color-1
			font-size: 20px
			font-weight: 700
			font-family: $font-family-2
			text-transform: uppercase
			padding-top: 22px
			transition: .3s
	&__button
		opacity: 0
		position: absolute
		bottom: 70px
		left: 50%
		margin-left: -105px
		transition: .3s
		transition-delay: .1s
		color: white
		&-main
			font-size: 20px
			padding-top: 16px
			padding-bottom: 16px
			margin-top: 20px




.banquets
	padding-top: 85px
	padding-bottom: 45px



.insta
	padding-bottom: 40px
	&:before
		content: ''
		display: block
		margin-left: auto
		margin-right: auto
		margin-bottom: 30px
		@include sprite($cutlery)
	&__head
		margin-bottom: 40px
	&__title
		text-align: left
		width: 700px
		float: left
	&__button
		float: right
		width: 245px
		line-height: 54px
		font-size: 17px
		font-weight: 700
		text-transform: uppercase
		color: white
		text-align: center
		background: url('../../img/bg/insta.png') no-repeat center
		cursor: pointer
		border-radius: 50px
		transition: .3s
		width: 245px !important
		margin-left: auto
		margin-right: auto
		background-size: 100%
		&:hover
			background-size: 300%
		.icon
			margin-right: 35px
	&__list
		margin-left: -20px
		margin-right: -20px
	&__item
		margin-left: 20px
		margin-right: 20px
		margin-bottom: 40px


.picnic
	color: white
	background: url('../../img/bg/picnic.jpg') no-repeat center
	background-size: cover
	a
		color: white


.wedding
	padding-top: 82px
	padding-bottom: 20px
	&__desc
		margin-bottom: 45px
		text-align: center
	&__block
		margin-bottom: 80px
		text-align: center
		&:nth-of-type(odd)
			.wedding
				&__image
					float: left
				&__content
					float: right
	&__image
		float: right
		width: 463px
		box-shadow: 0 15px 35px rgba(1, 1, 1, 0.1)
		img
			width: 100%
		p
			font-size: 20px
			font-weight: 700
			text-transform: uppercase
			font-family: $font-family-2
			text-align: center
			padding-top: 25px
			padding-bottom: 29px
			background: white
			padding-left: 5px
			padding-right: 5px
	&__content
		width: 460px

	&__logo
		margin-bottom: 25px
		img
			margin-left: auto
			margin-right: auto
	&__text
		text-align: left
		p
			margin-bottom: 26px


.birthday
	color: white
	background: url('../../img/bg/birthday.jpg') no-repeat center
	background-size: cover
	a
		color: white

.reviews
	padding-top: 85px
	padding-bottom: 90px
	&__desc
		text-align: center
		margin-bottom: 50px
	&__wrap
		text-align: center





.footer
	color: white
	text-align: center
	background: url('../../img/bg/footer.png') no-repeat center
	background-size: cover
	padding-top: 73px
	padding-bottom: 90px
	a
		color: white
	&__logo
		margin-bottom: 14px
		img
			margin-left: auto
			margin-right: auto
	&__desc
		margin-bottom: 40px
	&__phone
		font-size: 24px
		font-family: $font-family-2
		margin-bottom: 10px
	&__email
		font-size: 18px


.popup
	display: none
	padding: 0 !important
	&_callback
		width: 345px
	&_slider
		width: 715px
		.popup
			&__title
				&:after
					display: none
				.portfolio__subtitle-hidden
					position: relative
					background: none
					font-size: inherit
					padding-top: 0
					color: white
	.fancybox-close-small
		display: none
	&__head
		background: #000
		padding-bottom: 15px
	&__body
		text-align: center
		padding: 42px 36px
	&__title
		font-size: 40px
		font-weight: 700
		text-transform: uppercase
		color: white
		text-align: left
		width: calc(100% - 45px)
	&__close
		cursor: pointer
		position: absolute
		right: 6px
		top: 46px
		transition: .3s
		&:hover
			transform: rotate(90deg)
	&__input
		margin-bottom: 10px
	&__button
		background: white
		padding: 14px 58px
		margin-top: 20px
		font-size: 16px
	&__image, &__images
		img
			display: block !important
	&__image
		margin-bottom: 18px
		position: relative
		&:before, &:after
			z-index: 1
			content: ''
			top: 0
			position: absolute
			width: 50%
			height: 100%
		&:before
			left: 0
			background: -moz-linear-gradient(left, rgba(0,0,0,.7) 0%, transparent 45%, transparent 100%)
			background: -webkit-linear-gradient(left, rgba(0,0,0,.7) 0%,transparent 45%,transparent 100%)
			background: linear-gradient(to right, rgba(0,0,0,.7) 0%,transparent 45%,transparent 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 )
		&:after
			right: 0
			background: -moz-linear-gradient(left, transparent 0%, transparent 55%, rgba(0,0,0,.7) 100%)
			background: -webkit-linear-gradient(left, transparent 0%,transparent 55%,rgba(0,0,0,.7) 100%)
			background: linear-gradient(to right, transparent 0%,transparent 55%,rgba(0,0,0,.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 )
	&__images
		margin-left: -5px
		margin-right: -5px
		.slick-slide
			padding-left: 5px
			padding-right: 5px
			img
				width: 100%

	.slick-arrow
		z-index: 3
		width: auto
		height: auto
		&:before
			display: none
	.slick-prev
		left: 12px
		&:hover
			.icon
				@include sprite($arrow-left-yellow)

	.slick-next
		right: 12px
		&:hover
			.icon
				@include sprite($arrow-right-yellow)









@keyframes icon
	0%
		transform: translateY(0px)

	70%
		transform: translateY(20px)

	100%
		transform: translateY(0px)


